/*

Add styles or override variables from the theme here.

*/

.landing-sss {
  width: 100% !important;
}

/* sm */
@media (min-width: 768px) {
  .landing-sss {
    width: 75% !important;
  }
}
/* md */
@media (min-width: 992px) {
  .landing-sss {
      width: 60% !important;
  }
}
/* lg */
@media (min-width: 1200px) {
  .landing-sss {
      width: 50% !important;
  }
}