+++
title = "Security Summer School"
linkTitle = "Security Summer School"
+++

{{< blocks/lead height="full" color="white" >}}
<div class="mx-auto mt-20">
	<img class="block landing-sss" src="SSS-logo.png"/>
	<h3 class="fs-3 mb-4 ">A <b>free and virtual</b> Security Summer School having three available tracks <br /> held by members of the UPB community.</h3>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/community" >}}">
		Start your journey <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Program TBD</p>
</div>
{{< blocks/link-down color="primary" >}}
{{< /blocks/lead >}}


{{% blocks/lead color="primary" %}}
**Security Summer School** is a security workshop held by people passionate about security,
professors, PhD, MSci, BSc students from University POLITEHNICA of Bucharest
and industry partners Ixia, a Keysight Business.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-lightbulb" title="Learn the most known vulnerabilities" %}}
From zero-to-hero the four week event holds lessons and workshops two or three times a week on vulnerabilities and how to identify and get advantage from them.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-search" title="Hands-on learning" %}}
At the end of each presentation, you will have to solve problems, practicing the presented vulnerabilities.
These will run as a CTF where you should find the flag and demonstrate your power.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-trophy" title="CTF & Prizes!" %}}
Two CTFs will be organized, one in the middle of the summer school and the other at the end of it.
Those who get involved will also receive prizes.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}

{{% blocks/feature icon="fas fa-user-secret" title="Security Essentials" url="https://github.com/security-summer-school/essentials" %}}
Perfect for the ones who want to step into security fundamentals.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-id-card" title="Web Security" url="https://github.com/security-summer-school/web" %}}
Web is already everywhere. Start before it's too late.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-user-shield" title="Binary Security" url="https://github.com/security-summer-school/binary" %}}
Do you want to break all things in a binary? This is the place.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col">
	<h1 class="text-center mb-4">Step into the world of Security.</h1>
	<div class="text-center">
	<a class="btn btn-lg btn-primary mr-3" href="{{< relref "/community" >}}">
		Start your journey <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3" href="https://forms.gle/PcmVJ5MrYr45uLbi7">
		Sign up <i class="fas fa-pen ml-2 "></i>
	</a>
	</div>
</div>
{{< /blocks/section >}}
